/* GLOBAL STYLES */
body {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

/* PROJECT PATH centered under navbar */
.page-path {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  margin: 24px 0;
  opacity: 0.8;
}

/* THREE IMAGES AT TOP */
.three-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: 48px auto 24px auto;
  justify-content: center;
  padding-left: 20px;
  box-sizing: border-box;
}

.top-image {
  width: 240px;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid black; /* Thin black border */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Stronger shadow effect */
}

/* MAIN PAGE SECTION CONTAINER */
.project-page-section {
  width: 80%;
  margin: 24px auto;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}

/* HEADINGS */
h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 0 0 24px 0;
}

/* SUBHEADINGS */
.project-page-section h2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}

/* PARAGRAPHS */
.project-page-section p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 16px;
}
